//-----------------------------------------
//  SPRITE ICON MIXINS
//-----------------------------------------
@mixin sprite-sheet($x, $y) {
  //background: url('../assets/mh-spritesheet.svg');
  background-size: 2800% 300%;
  background-position: ($x $y);
  background-repeat: no-repeat;
}

// ------------------------------------------------------------
// Temporary Loader
// ------------------------------------------------------------

//Animation
@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

//Animation for Safari & Chrome
@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

//Loader Class
.loading {
 // @include loader-icon(100px, 100px);
 // position: relative;
 // margin: 0 auto;
 // transform-origin: 83%, 50%;
 // @include animation(rotating 1.5s linear infinite);
}