<fa-app>

  <fa-scroll-view fa-options="scrollOptions" fa-pipe-from="scrollHandler">

    <fa-view fa-index="0">
      <fa-modifier fa-size="[undefined,400]">
        <fa-surface fa-background-color="'#FF0000'" fa-pipe-to="scrollHandler" >
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view fa-index="1">
      <fa-modifier fa-size="[undefined,400]">
        <fa-surface fa-background-color="'#00FF00'" fa-pipe-to="scrollHandler" >
        </fa-surface>
      </fa-modifier>
    </fa-view>
    <fa-view fa-index="2">
      <fa-modifier fa-size="[undefined,400]">
        <fa-surface fa-background-color="'#0000FF'" fa-pipe-to="scrollHandler" >
        </fa-surface>
      </fa-modifier>
    </fa-view>
  </fa-scroll-view>
</fa-app>